.home {
    margin-top: 10px;
}
  
.home__title {
    font-size: 28px;
    font-weight: 600;
}
  
.home__container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table {
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.home__formContainer {
    box-shadow: 1px 4px 12px -2px rgba(0, 0, 0, 0.43);
    background: #0575e6;
    padding: 30px;
    width: 500px;
}
  
.home__formContainer input {
    border: 1px solid #e5e5e5;
    outline: none;
    padding: 15px 10px;
    width: 80%;
    border-radius: 8px;
    margin: 10px 0;
    background: transparent;
    color: white;
    font-size: 14px;
}
  
.home__formContainer input::placeholder {
    color: #e5e5e5;
}
  
.home__formContainer input:disabled {
    /* background-color: #e5e5e55a; */
}
  
.home__formContainer button {
    background: transparent;
    border: 1px solid white;
    outline: none;
    font-size: 18px;
    color: white;
    padding: 10px;
    width: 200px;
    margin-top: 30px;
    border-radius: 12px;
    cursor: pointer;
}
